##### Preliminary Requirements.txt #####
############# For HwReader #############
#
# Warning! This file has not yet been tested

RPi.GPIO
gpiozero
PyYaml
#json
git+git://github.com/JValtteri/mcp23017@master#egg=mcp23017
